<!-- <div class="container">
    <div id="backgroundImage">
         <div class="col-md-12" style="top: 250px">
        <div class="card-holder">
            <div class="card">
                <div class="col-md-12"> 
                <div class="row">
                    <div id="leftSide" class="col-md-8">
                        <div class="head">
                            <div class="row">
                                <div class="col-md-9">
                                    <h1 class="font-weight-bold" id="header"><u>LOGIN</u></h1>
                                </div>
                                <div class="col-md-3" id="logo1">
                                    <div class="vw-100">
                                        <img src="/ZenXL/src/assets/images/logo1.jpg" alt="logo1" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12"> 
                                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">E-mail address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" />
                                        <span></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" />
                                    </div>
                                    <div class="form-group form-forgot" id="forgot">
                                        <a href="">Forgot password?</a>
                                    </div>
                                    <div class="col-md-12 sm-12">
                                        <button type="button" id="subButton" class="btn btn-warning btn-lg btn-block">
                          LOGIN
                        </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="rightColor" class="col-md-4"></div>
                </div>

            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid vh-100 vm-100" id="backgroud">

</div>